// Define variables for your color scheme

// For example:
$red: #D8315B;
$blue: #424874;
$light-blue: #3E92CC;
$light-red: #D7C0D0;
$yellow: #F6AE2D;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;


$association : $red;
$candidate:  $yellow;

.association {
  background-color: $red
}

.candidate {
  background-color: $yellow;
}
