
.regular-column{
  ul{
    display: none !important;
    font-family: $body-font;
    font-size: 15px;
  }
}
.validation-column{
  ul{
    display: block !important;
    font-family: $body-font;
    font-size: 15px;
  }
}

.grey-icon{
  color: rgb(200,200,200) !important;
}

.card-job-candidature {
  border-radius: 15px;
  border: 1px solid rgb(150,150,150);
  background-color: white;
  margin: 10px 10px 10px 0px;
  padding: 10px;
  transition: ease-in-out 0.2s;
  height: 125px;
  padding-left: 20px;
  padding-right: 20px;
  cursor: grab;

  &:hover{
    background-color: rgba(220,220,220,1);
  }

  h5{
    font-weight: 700;
    color: $light-blue;
    font-size: 18px;
  }

  h6{
    font-size: 16px;
  }

  i{
    color: $pink;
    margin-right: 10px;
  }

  p{
    font-family: $body-font;
    font-size: 15px;
  }
}
