<div class="d-none">
  <%= simple_form_for(candidature_note,
                      data: { add_note_target: "editform",
                      action: "submit->add-note#edit" },
                      html: {class: "d-flex justify-content-between align-items-center"} ) do |f|  %>
  <%= f.input :content,
              placeholder: candidature_note.content,
              label: false %>
  <%= f.submit "+",
              class: "button association ms-3" %>
  <% end %>
</div>
