<div class="col-md-6 col-md-offset-3 CarouselLP">

        <input type="radio" name="slider" title="slide1" checked="checked" class="CarouselLP__nav" value="" /><input type="radio" name="slider" title="slide2" class="CarouselLP__nav" value="" /><input type="radio" name="slider" title="slide3" class="CarouselLP__nav" value="" /><input type="radio" name="slider" title="slide4" class="CarouselLP__nav" value="" />

        <div class="CarouselLP__inner">
          <div class="CarouselLP__contents d-flex flex-column">
            <div class="d-flex w-100 justify-content-between">
              <div class="hemmersfont-slim newsLP__header col-3" id="newsLP__header-overlay-1">
                Demain Works |
              </div>
              <div class="hemmersfont-slim newsLP__text col-7" id="newsLP__text-overlay-1">
                Complétez votre profil et découvrez des opportunités qui vous correspondent.
              </div>
            </div>
          </div>
          <div class="CarouselLP__contents d-flex flex-column">
            <div class="d-flex w-100 justify-content-between">
              <div class="hemmersfont-slim newsLP__header col-3" id="newsLP__header-overlay-2">
                Demain Works |
              </div>
              <div class="hemmersfont-slim newsLP__text col-7" id="newsLP__text-overlay-2">
                Des missions de type qualitatif de chef de barbec' de compet' n'attendent que toi ma gueule.
              </div>
            </div>
          </div>
          <div class="CarouselLP__contents d-flex flex-column">
            <div class="d-flex w-100 justify-content-between">
              <div class="hemmersfont-slim newsLP__header col-3" id="newsLP__header-overlay-3">
                Demain Works |
              </div>
              <div class="hemmersfont-slim newsLP__text col-7" id="newsLP__text-overlay-3">
                Tu veux te sentir utile pour la société ? Alors arrête de brasser de la moulaga et rejoins moi !
              </div>
            </div>
          </div>
        </div>
      </div>
