    <div class="footer">
      <p>Tous droits réservés ❤️ | Rejoignez-nous sur :</p>
      <div class="d-flex justify-content-center">
        <a href=""><i class="fa-brands fa-facebook"></i></a>
        <a href=""><i class="fa-brands fa-instagram"></i></a>
        <a href=""><i class="fa-brands fa-pinterest"></i></a>
      </div>
    </div>
