<div class="dashboard">
  <div class="vertical-bar"></div>
  <div class="dashboard-banner">
    <div class="dashboard-infos">
      <h1>Bienvenue <strong><%= current_user.first_name %></strong></h2>
    </div>
    <div class="dashboard-logo">
        <%= image_tag("default-np-logo.png") %>
    </div>
  </div>
</div>

<%=render "shared/association_cards" %>
