<div class="dashboard-banner">
  <div class="dashboard-infos">
    <h2>Bienvenue <strong>Baptiste</strong><%= current_user.first_name %></h2>
      <button class="creation-button">Créer ma page association</button>
    </div>
  </div>
  <div class="linear-gradient"></div>
    <div class="cards">
      <div class="row mx-0">
        <div class="cards-section">
          <button class="creation-button active">Ajouter une offre</button>
          <button class="creation-button inactive">Modifier ma page</button>
        </div>
      </div>
      <div class="row mx-0">
        <div class="card-primary">
          <div class="card-image">
          </div>
          <div class="card-content">
            <%# offer.title %>
            <h3>Nom du poste proposé 1</h3>
            <%# offer.duration, offer.start_date %>
            <p>Durée et et date de début</p>
          </div>
        </div>
        <div class="link"></div>
        <div class="card-secondary">
          <%# application.length %>
          <h3>3</h3>
          <p>candidatures</p>
        </div>
      </div>
      <div class="row mx-0">
        <div class="card-primary">
          <div class="card-image">
          </div>
          <div class="card-content">
            <h3>Nom du poste proposé 2</h3>
            <p>Durée et et date de début</p>
          </div>
        </div>
        <div class="link"></div>
        <div class="card-secondary">
          <%# application.length %>
          <h3>45</h3>
          <p>candidatures</p>
        </div>
      </div>
  </div>
</div>
