<div class="dashboard-banner">
<div class="dashboard-infos">
  <h1>Bienvenue <strong><%= current_user.first_name %></strong></h2>
    <%= link_to new_candidate_path do %>
    <button class="candidate">Modifier mon profil candidat</button>
    <%end%>
  </div>
  <div class="dashboard-logo"></div>
</div>
<%=render"shared/candidate_cards" %>
