<div class="dashboard-banner">
<div class="dashboard-infos">
  <h1>Bienvenue <strong>Mouna</strong><%= current_user.first_name %></h2>
    <button class="button candidate">Créer mon profil candidat</button>
  </div>
  <div class="dashboard-logo"></div>
</div>
<%=render"shared/candidate_cards" %>
