.dashboard-banner {
  height: 250px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.dashboard-infos {
  h1 {
    margin-bottom: 20px;
  }
}

.blue-banner {
  background-color: $light-blue;
  padding: 8vh 80px;
  position: relative;
}

.blue-banner img {
  height: 10vh;
}

.blue-banner h2 {
  margin-top: 5vh;
  color: white;
  opacity: 0.8;
  width: 40vw;
  font-size: 25px;
  font-weight: 400;
}

.banner-offer {
  background-size: cover;
  background-position: center;
  padding: 50px 0;
  text-align: center;
  height: 400px;

  ul {
    padding: 0;
  }

  h1 {
    margin: 0;
    margin-bottom: 10%;
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-size: 32px;
    font-weight: bold;
  }

  h2 {
    color: white;
  }

  p {
    font-size: 20px;
    color: white;
    opacity: .7;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  }
}

.list-in-banner {
  display: flex;
  justify-content: center;

  li {
    padding: 5px;
  }
}

.banner-icon {
  margin-right: 5px;
}
