.card-asso {
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #969696;
}

.card-asso-img {
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.9)), url('https://picsum.photos/id/237/200/300');
  background-size: cover;
  display: flex;
  align-items: center;
  height: 150px;
  justify-content: center;
  color: white;

  h5 {
    transition: ease-in-out 0.3s;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding-left: 30px;
    padding-right: 30px;
  }

  &:hover {
    background-image: linear-gradient(rgba(0,0,0,0.9), rgba(0, 0, 0, 0.9)), url('https://picsum.photos/id/237/200/300');

    h5 {
      font-size: 22px;
    }
  }
}

.card-asso-content {
  padding: 20px;


  h5 {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    color:$blue;
    font-size: bold;
  }

  h6 {
    margin-left: 5px;
  }
}

.card-asso-job-offer {
  display: grid;
  border-radius: 15px;
  border: 1px solid rgb(150,150,150);
  background-color: white;
  margin: 10px 10px 10px 0px;
  padding: 10px;
  transition: ease-in-out 0.2s;
  height: 150px;
  padding-left: 20px;
  padding-right: 20px;
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25));


  &:hover{
    background-color: rgba(220,220,220,1);
  }

  h4{
    color: $blue;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 80%;
  }

  p{
    font-family: $body-font;
    margin-right: 10px;
    color: black;
  }
}

.card-asso-job-offer-secondary {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
