.card-asso {
  box-shadow: 3px 3px 6px rgba(0,0,0,0.3);
  border-radius: 3px;
  margin-top: 10px;
}

.card-asso-img {
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.9)), url('https://picsum.photos/id/237/200/300');
  background-size: cover;
  display: flex;
  align-items: center;
  height: 150px;
  justify-content: center;
  color: white;

  h5 {
    transition: ease-in-out 0.3s;
  }

  &:hover {
    background-image: linear-gradient(rgba(0,0,0,0.9), rgba(0, 0, 0, 0.9)), url('https://picsum.photos/id/237/200/300');

    h5 {
      font-size: 22px;
    }
  }
}

.card-asso-content {
  padding: 10px;

  p {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
  }
}

.card-asso-job-offer {
  border-radius: 3px;
  border: 1px solid rgb(150,150,150);
  background-color: rgba(220,220,220,0.4);
  margin: 10px 10px 10px 0px;
  padding: 10px;
  transition: ease-in-out 0.2s;

  &:hover{
    background-color: rgba(220,220,220,1);
  }

  h4{
    font-weight: 700;
    color: $light-blue;
  }
  i{
    color: $pink;
    margin-right: 10px;
  }
  p{
    font-family: $body-font;
  }
}

.card-candidature {

}
