 #carouselExampleIndicators {
   background-color: $red;
   padding: 30px;
   color: white;
   border-radius: 20px;
 }

 .carousel-item p {
    color: white !important;
 }

 .caroussel-container {
  padding: 20px 50px;
  width: 700px;
}

.caroussel-container h2 {
  font-size: 25px;
}
.caroussel-container p {
  color: #595457;
  font-size: 15px;
}

.carousel-indicators-pink {
  position: absolute;
}

.carousel-indicators-pink button {
  border-radius: 50%;
  height: 12px;
  width: 12px;
  background-color: #9E1946;
  border: none;
  right: 0px;
  position: relative;
  right: 0px;
}

.carousel-indicators-pink:active {
  border-radius: 50%;
  height: 12px;
  width: 12px;
  background-color: white;
  border: none;
}
