.edit-button {
  display: none;
  position: absolute;
  top: -10px;
  right: -10px;
  font-size: 10px;
  background-color: $blue;
  color: white;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  transition: ease-in-out 0.1s;

  &:hover {
    width: 40px;
    height: 40px;
    font-size: 13px;
  }
}

.editable {
  position: relative;

  &:hover{
    .edit-button {
      display: block;
    }
  }
}
