.footer {
  background:white;
  padding: 20px;
  color: black;
  text-align: center;

  p {
    margin: 0;
  }

  a {
    color: $red;
    text-decoration: none;
    opacity: 0.7;
    font-size: 20px;
    padding: 0px 10px;

    &:hover {
      color: $red;
      opacity: 1;
    }
  }
}

.content-wrapper {
  min-height: calc(100vh - 85px - 85px);
  &.auto-center {
    display:flex;
    flex-direction: column;
    justify-content: space-around;
  }
}

.img-container {
  background-image: url('images/illustration2.jpg');
  height: 30vh;
  object-fit: fill;
  width: 30vw;
  display: flex;
  justify-content: center;
}

.img-container img {
  height: 40vh;
  margin-top: 15px;
}
