.modal-content {
  border-radius: 5px;
}

.modal-header {
margin-left: 30%;
}

.candidature_motivation {
  margin: auto;
  padding-top: 20px;
}

#candidature_motivation {
  height: 150px;
}

#new_candidature {
  padding-bottom: 20px;
}

#submit-candidature {
  margin: auto;
}

.button-wrapper {
  display: flex;
}
