.navbar {
  background:#3E92CC;
  position: sticky;
  top: 0px;
  z-index: 1;

  h1 {
    font-size: 20px;
    font-weight: 900;
    color: $red;
  }
}

.navbar-tw-tabs li {
  display: inline;
}

.navbar-tw-tabs a {
  color: white;
  opacity: 0.5;
  font-size: 14px;
  font-weight: 200;
  margin-left: 20px;
}

.navbar-tw-tabs a.active {
  opacity: 1;
  font-weight: 400;
  padding-bottom: 12px;
  border-bottom: solid 5px white;
}

.navbar-hide {
  display: none;
}

.vertical-nav {
  height: 100vh;
  width: 15%;
  background-color: $light-blue;
}

.vertical-nav-candidate {
  height: 100vh;
  width: 15%;
  background-color: $yellow;
}

.vertical-bar {
  width: 15%;
  background-color: $light-blue;
}

.vertical-bar-candidate {
  width: 15%;
  background-color: $yellow;
}

.dashboard {
  display: flex;
}

.sticky-bar {
  position: sticky;
  top: 5rem;
}

.vertical-icon {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 20px;

  p {
    color: white;
  }
}

.vertical-icon-content {
  color: white;
}

.vertical-icon:hover {
  opacity: 0.5;
  cursor: pointer;
}

.icon {
  color: white;
  font-size: 30px;
  margin-right: 20px;
}

.navbar-demainworks {
  justify-content: space-between;
  background: white;
}

.navbar-demainworks .navbar-collapse {
  flex-grow: 0;
}

.navbar-demainworks .navbar-brand img {
  width: 40px;
}

#link-demainworks {
  color: black;
  opacity: 0.8;

  &:hover {
    opacity: 1;
  }
}

.permanent-navbar-links{
  list-style: none;
  padding: 0;
  display: flex;
  align-items: center;

  li{
    display: inline;
  }
}
