.navbar {
  background:#3E92CC;
  position: sticky;
  top: 0px;
  z-index: 1;

  h1 {
    font-size: 20px;
    font-weight: 900;
    color: white;
  }
}

.navbar-demainworks {
  justify-content: space-between;
  background: #3E92CC;
}

.navbar-demainworks .navbar-collapse {
  flex-grow: 0;
}

.navbar-demainworks .navbar-brand img {
  width: 40px;
}

#link-demainworks {
  color: white;
  opacity: 0.8;
  &:hover {
    opacity: 1;
  }
}
