.navbar-lewagon {
  justify-content: space-between;
  background: $blue;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-tw {
  background-color: #4D6CFA;
  color: white;
  height: 10vh;
  display: flex;
  justify-content: end;
  padding: 20px;
  position: sticky;
  top: 0px;
  z-index: 1;
}

.navbar-tw-tabs {
  display: inline;
  padding: 0;
}

.navbar-tw-tabs li {
  display: inline;
}

.navbar-tw-tabs a {
  color: white;
  opacity: 0.5;
  font-size: 14px;
  font-weight: 200;
  margin-left: 20px;
}

.navbar-tw-tabs a.active {
  opacity: 1;
  font-weight: 400;
  padding-bottom: 12px;
  border-bottom: solid 5px white;
}

.navbar-hide {
  display: none;
}

.vertical-nav {
  height: 100%;
  width: 10%;
  background-color: $red;
}

.vertical-icon {
  height: 33%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.vertical-icon:hover {
  opacity: 0.8;
}

.icon {
  color: white;
  font-size: 30px;
}

.active {
  opacity: 1;
}

.inactive {
  opacity: 0.7;
}
