.search-title {
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: $light-blue;
  padding-top: 30px;

  h4 {
    color: white;
  }
}


.search {
  display: flex;
  padding: 20px;
  justify-content: center;
  background-color: $light-blue;
}

#query {
  width: 40%;
}
