.small-grey-text {
  color: rgb(100,100,100);
  font-size: 14px;
}

.break {
  background-color: $blue;
  height: 10px;
}

.candidate-photo{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 180px;
  width: 180px;
  border-radius: 10px;
  flex: 0 0 auto;
}

.right-border-grey{
  border-right: solid 1px grey;
}

.white-rounded-background {
  background-color: white;
  border-radius: 8px;
}

.clean-button {
  border: none;
  margin: 0;
  padding: 0;
  background-color: white;

}

.white-clickable-icon {
  color: white;
  opacity: 0.8;
  &:hover{
    color: white;
    opacity: 1;
  }
}

.img-home{
  width: 500px;
}
